@media screen and (max-width: 768px) {
  .info_con1 {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5%;
  }

  
}

.store_container::-webkit-scrollbar {
  display: none;
}